<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Users </title>
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}"/>
    </head>
    <body>
        <table class="table">
            <tr class="table-active">
                <td>Nom</td>
                <td>Prenom</td>
                <td>Age</td>
            </tr>    
            {% for user in users %}
            <tr class="table-{% if loop.index0 is even %}danger{% else %}warning{% endif %}">
                    <td> {{user.nom}} </td>
                    <td> {{user.prenom}} </td>
                    <td> {{user.age}} </td>
                </tr>    
            {% endfor %}
        </table>
    </body>
</html>    