<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Home </title>
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}"
    </head>
    <body>
        <h1 class='h1 text-primary'> Aujourd'hui c'est le: {{ "now"|date('d/m/Y')}} </h1>
        <img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt="game" />
    </body>
</html>    