{% extends 'template.html.twig' %}
    {% block body %}
        {% block pagetitle %}
            Todo list:
        {% endblock %}

        <ul class='list-group'>
            {% for action,exemple in app.session.get('todos') %}
                <li class='list-group-item'>
                    {{action}} : {{exemple}}
                </li>
            {% endfor %}
    {% endblock %}

    {% block title %}
        Todo
    {% endblock %}